requests
python-dotenv
openai
beautifulsoup4
lxml
tqdm
sentence-transformers
qdrant-client
numpy==1.26.4
click


# FastAPI Backend
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy[asyncio]
asyncpg
alembic

# Auth
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
email-validator
